.columnsContainer {
  display: flex;
  height: 100%;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #979797ff;
}

.detailsColumn img {
  border-radius: 50%;
  margin: 0.4rem;
}

.activeTasksColumn {
  height: 100%;
  flex-grow: 1;
  padding-left: 0.4rem;
  overflow: auto;
}
