.columnsContainer {
  display: flex;
  height: 100%;
}

.columnsLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.4rem;
  flex-basis: 10rem;
  box-shadow: 0.1rem 0 0 #cacacaff;
}

.columnsRight {
  flex-grow: 1;
  padding: 0.4rem;
}
