.columnsContainer {
  display: flex;
  max-height: 100%;
  height: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pendingColumn {
  background-color: #cacacaff;
}
.activeColumn {
  background-color: #fddd0eff;
}

.completedColumn {
  background-color: #2fcc71ff;
}

.colomnHeading {
  color: #f6f6f6ff;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: rgba(137, 137, 137, 0.509);
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #cacacaff;
  font-size: 2.5rem;
  margin: 0 auto;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.addButton:hover {
  background-color: rgb(235, 235, 235);
}

.listContainer {
  overflow: auto;
  padding-bottom: 0.4rem;
}
