.optionsMenu {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.4rem 0 0.4rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
}

.optionsMenu:hover {
  background-color: #979797ff;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
}
