.button {
  background-color: #4b4bf9ff;
  border: none;
  padding: 0.4rem;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 700;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  filter: brightness(80%);
}

.button:disabled {
  filter: contrast(50%);
}
