.menuWrapper {
  position: relative;
}

.menuButton {
  font-size: 2rem;
  margin-bottom: -0.5rem;
}

.navMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navMenu li a {
  display: block;
  list-style: none;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navMenu li a:hover {
  background-color: #6ddb9cff;
}
