.userContainer {
  position: relative;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.user span {
  font-weight: 700;
  user-select: none;
}

.user img {
  width: 2rem;
  border-radius: 50%;
}

.userImage {
  width: 2rem;
  border-radius: 50%;
}
