.userContainer {
  position: relative;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.user span {
  font-weight: 700;
  user-select: none;
}

.user img {
  width: 2rem;
  border-radius: 50%;
}

.menu {
  position: absolute;
  right: 0.4rem;
  background-color: #2fcc71ff;
  overflow: hidden;
  border-radius: 0.4rem;
  z-index: 100;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(120, 120, 120);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.8rem;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.menuItem img {
  width: 2rem;
  border-radius: 50%;
}

.menuItem:hover {
  background-color: #6ddb9cff;
}

.menuItem span {
  display: inline-block;
  width: max-content;
  font-weight: 700;
  user-select: none;
}
